*.log
*.txt
*.br
*.gz
*.tmp
*.xml
!bigipreportconfig.xml
.idea
.vscode
node_modules
underlay/json/*.json
!underlay/json/knowndevices.json
underlay/web.config
config/
underlay/js/SiteDataInterfaces/IASMPolicy.js
underlay/js/SiteDataInterfaces/ICertificate.js
underlay/js/SiteDataInterfaces/IDataGroup.js
underlay/js/SiteDataInterfaces/IDeviceGroup.js
underlay/js/SiteDataInterfaces/IIrule.js
underlay/js/SiteDataInterfaces/IKnowndevice.js
underlay/js/SiteDataInterfaces/ILoadbalancer.js
underlay/js/SiteDataInterfaces/ILoggedErrors.js
underlay/js/SiteDataInterfaces/IMemberStates.js
underlay/js/SiteDataInterfaces/IMonitor.js
underlay/js/SiteDataInterfaces/INAT.js
underlay/js/SiteDataInterfaces/IPool.js
underlay/js/SiteDataInterfaces/IPreferences.js
underlay/js/SiteDataInterfaces/ISiteData.js
underlay/js/SiteDataInterfaces/IState.js
underlay/js/SiteDataInterfaces/IVirtualServer.js
underlay/js/SiteDataInterfaces/IPollingResponse.js