// Tactile-inspired palette (https://github.com/pages-themes/tactile) on just-the-docs layout.

$body-background-color: #e7e7e7;
$body-text-color: #6d6d6d;
$link-color: #d5000d;

$nav-child-link-color: #6d6d6d;
$nav-list-link-color: #303030;
$nav-list-link-active-color: #d5000d;

$sidebar-color: #f2f2f2;
$sidebar-button-color: #d5000d;
$search-background-color: #fff;
$search-result-preview-color: #6d6d6d;

$btn-primary-color: #d5000d;
$base-button-color: #303030;

$border-color: #cbcbcb;
$feedback-color: darken(#e7e7e7, 8%);

$code-background-color: #f2f2f2;
