<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".css.br" />
            <remove fileExtension=".html.br" />
            <remove fileExtension=".js.br" />
            <remove fileExtension=".json.br" />
            <mimeMap fileExtension=".css.br" mimeType="text/css" />
            <mimeMap fileExtension=".html.br" mimeType="text/html" />
            <mimeMap fileExtension=".js.br" mimeType="application/javascript" />
            <mimeMap fileExtension=".json.br" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <outboundRules rewriteBeforeCache="true">
                <rule name="vary:accept-encoding">
                    <match serverVariable="RESPONSE_VARY" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.br$" />
                    </conditions>
                    <action type="Rewrite" value="accept-encoding" />
                </rule>
                <rule name="content-encoding:br">
                    <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.br$" />
                    </conditions>
                    <action type="Rewrite" value="br" />
                </rule>
            </outboundRules>
            <rules>
                <rule name="precompressed brotli" stopProcessing="true">
                    <match url="(.*)\.(css|html|js|json)$" />
                    <conditions>
                        <add input="{HTTP_ACCEPT_ENCODING}" pattern="\bbr\b" />
                        <add input="{REQUEST_FILENAME}.br" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.br" />
                </rule>
            </rules>
        </rewrite>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
</configuration>
